In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/blueberry-yield-zindua-ml-week-2-challenge/sample_submission.csv
/kaggle/input/blueberry-yield-zindua-ml-week-2-challenge/train.csv
/kaggle/input/blueberry-yield-zindua-ml-week-2-challenge/test.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, FunctionTransformer
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, TweedieRegressor
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import PolynomialFeatures

In [3]:
df=pd.read_csv('/kaggle/input/blueberry-yield-zindua-ml-week-2-challenge/train.csv')
df.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887,4476.81146
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317,5548.12201
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781,6869.77760
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561,6880.77590
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512,7479.93417

In [4]:

df=df.drop(columns = ['id'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15289 entries, 0 to 15288
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   clonesize             15289 non-null  float64
 1   honeybee              15289 non-null  float64
 2   bumbles               15289 non-null  float64
 3   andrena               15289 non-null  float64
 4   osmia                 15289 non-null  float64
 5   MaxOfUpperTRange      15289 non-null  float64
 6   MinOfUpperTRange      15289 non-null  float64
 7   AverageOfUpperTRange  15289 non-null  float64
 8   MaxOfLowerTRange      15289 non-null  float64
 9   MinOfLowerTRange      15289 non-null  float64
 10  AverageOfLowerTRange  15289 non-null  float64
 11  RainingDays           15289 non-null  float64
 12  AverageRainingDays    15289 non-null  float64
 13  fruitset              15289 non-null  float64
 14  fruitmass             15289 non-null  float64
 15  seeds                 15289 non-null  float64
 16  yield                 15289 non-null  float64
dtypes: float64(17)
memory usage: 2.0 MB

In [5]:
x=df.drop('yield',axis=1)
y=df['yield']

In [6]:
lin_reg = make_pipeline(StandardScaler(), LinearRegression())
scores = cross_val_score(lin_reg, x, y, cv=10, scoring='neg_mean_absolute_error').mean()*-1
print(scores)

371.9653405620364

In [7]:
lasso = make_pipeline(StandardScaler(), Lasso(alpha=1))
scores = cross_val_score(lasso, x, y, cv=10, scoring='neg_mean_absolute_error').mean()*-1
print(scores)

371.8477069457161

In [8]:
ridge = make_pipeline(PolynomialFeatures(degree=2),StandardScaler(), Ridge(alpha=0.5),)
scores = cross_val_score(ridge, x, y, cv=10, scoring='neg_mean_absolute_error').mean()*-1
print(scores)

369.8836486286705

In [9]:
elastic_net = make_pipeline(StandardScaler(), ElasticNet(alpha=0.1, l1_ratio=0.9))
scores = cross_val_score(elastic_net, x, y, cv=10, scoring='neg_mean_absolute_error').mean()*-1
print(scores)

373.47921135315744

In [10]:
 optimal_model=make_pipeline(PolynomialFeatures(degree=2),StandardScaler(), Ridge(alpha=0.5)).fit(x,y)

In [11]:
 df1=pd.read_csv('/kaggle/input/blueberry-yield-zindua-ml-week-2-challenge/test.csv')
 df1.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
0,15289,25.0,0.25,0.25,0.25,0.25,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.399367,0.408088,31.394569
1,15290,12.5,0.25,0.25,0.75,0.63,94.6,57.2,79.0,68.2,33.0,55.9,1.0,0.10,0.488048,0.442866,36.846956
2,15291,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.583379,0.487057,40.037644
3,15292,25.0,0.50,0.38,0.38,0.63,86.0,52.0,71.9,62.0,30.0,50.8,16.0,0.26,0.433014,0.422847,33.116091
4,15293,37.5,0.75,0.25,0.25,0.25,94.6,57.2,79.0,68.2,33.0,55.9,24.0,0.39,0.360996,0.388860,29.558019

In [12]:
df1.shape

(10194, 17)

In [13]:
ids=df1['id']
ids.shape

(10194,)

In [14]:

df1=df1.drop(columns = ['id'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   clonesize             10194 non-null  float64
 1   honeybee              10194 non-null  float64
 2   bumbles               10194 non-null  float64
 3   andrena               10194 non-null  float64
 4   osmia                 10194 non-null  float64
 5   MaxOfUpperTRange      10194 non-null  float64
 6   MinOfUpperTRange      10194 non-null  float64
 7   AverageOfUpperTRange  10194 non-null  float64
 8   MaxOfLowerTRange      10194 non-null  float64
 9   MinOfLowerTRange      10194 non-null  float64
 10  AverageOfLowerTRange  10194 non-null  float64
 11  RainingDays           10194 non-null  float64
 12  AverageRainingDays    10194 non-null  float64
 13  fruitset              10194 non-null  float64
 14  fruitmass             10194 non-null  float64
 15  seeds                 10194 non-null  float64
dtypes: float64(16)
memory usage: 1.2 MB

In [15]:
y_pred =optimal_model.predict(df1)
y_pred.shape

(10194,)

In [16]:
predicted_yield=pd.DataFrame(y_pred,columns=['Yield'])
predicted_yield['ID']=ids
predicted_yield=predicted_yield.set_index('ID')
predicted_yield.head()

             Yield
ID
15289  4323.947544
15290  6270.481920
15291  7181.911044
15292  4943.348928
15293  3921.719261

In [17]:
predicted_yield.to_csv('/kaggle/working/submission.csv')